nuxeo-datademo-plugin/src/test/resources/schemas/TestSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/project/schemas/datademo"
  targetNamespace="http://www.nuxeo.org/ecm/project/schemas/datademo">
  <!-- helper XSD definitions for date list types -->
  <xs:simpleType name="dateList">
    <xs:list itemType="xs:date"/>
  </xs:simpleType>

  <xs:element name="main_string" type="xs:string"/>
  <xs:element name="list_of_dates_main" type="nxs:dateList"/>

</xs:schema>
